**
!README.md
!CHANGELOG.md
!LICENSE
!package.json
!images/**
!out/clipboard.js
!out/clipboard.js.map
!out/commands.js
!out/commands.js.map
!out/extension.js
!out/extension.js.map
!out/recognizers.js
!out/recognizers.js.map
!out/statusBar.js
!out/statusBar.js.map
